.login-container {
    width: 100%;
    min-height: calc(100vh - var(--navbar-height) - var(--footer-height) - var(--navbar-padding));
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    padding: 1rem;
}
.login-form {
    background-color: #ffffff;
    padding: 3rem;
    border-radius: 1.5rem;
    width: 100%;
    max-width: 440px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.login-inputs {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.login-input label {
    font-weight: 600;
    margin-bottom: 4px;
}
.login-input input {
    width: 100%;
    padding: 12px 0;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #ccc;
    transition: border-color 0.3s ease;
    &:focus{
        outline: none;
        border-color: #000;
    }
}
.login-actions {
    display: flex;
    gap: 12px;
}
.login-actions button {
    flex: 1;
    padding: 10px;
    font-size: 0.95rem;
    border-radius: 8px;
}
.login-admin {
    display: flex;
    flex-direction: column;
    font-size: 0.85rem;
    opacity: 0.7;
}