.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #cdcdcd;
    padding: 50px;
    border-radius: 10px;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.login-inputs{
    display: flex;
    gap: 10px;
}
.login-actions{
    display: flex;
    gap: 10px;;
}