:root {
  --navbar-height: 50px;
  --footer-height: 60px;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.layout {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  padding-top: var(--navbar-height)
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}