:root {
  --navbar-height: 50px;
  --navbar-padding: 0.5rem;
  --footer-height: 60px;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  padding-top: calc(var(--navbar-height) + var(--navbar-padding));
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}